﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="CheckVersion.aspx.cs" Inherits="CheckVersion" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>ALM Solutions Version Check</title>
</head>
<body>
    <form id="form1" runat="server">
    <div style="font-size: x-large;">
        <b>ALM Solutions Updates</b></div>
    <br />
    <span ID="message" runat="server"></span>
    <a id="link" runat="server" href="#">Download update</a>
    </form>
</body>
</html>
